/*
 * STYLE FOR THE MODULE OUR PARTNERS
 */
img.partenaire_img {
   
    max-width: 100%;
	margin-left: auto;
    margin-right: auto;
	width:75%;
}
.owl-item .col-md-6{text-align:center;}
h2.partenaire_name {
    font-size: 30px;text-align:left;
}
.partenaire_description{text-align:left;}
a.partenaire_link {
    background: #247EC1;
    padding: 5px 15px;
    display: block;
    color: #FFF;
    margin: 10px 0;
    width: 60px;
    text-align: center;
}

.owl-controls.clickable {
    position: absolute;
    top: 115%;
    z-index: 9999;
    text-align: center;
    width: 100%;
}

.owl-next, .owl-prev {
    width: 64px;
	height: 64px;
    display: inline-block;
    color: #FFF;
    /*border: 1px solid #4D94CB; background: #4D94CB;*/
    margin: 5px;
	background-repeat:no-repeat;
   

}

.owl-next{ background: rgba(0, 0, 0, 0) url("right.png") no-repeat scroll 0 0;}
.owl-prev{ background: rgba(0, 0, 0, 0) url("left.png") no-repeat scroll 0 0;}

.owl-next:hover{ background: rgba(0, 0, 0, 0) url("right_on.png") no-repeat scroll 0 0;}
.owl-prev:hover{ background: rgba(0, 0, 0, 0) url("left_on.png") no-repeat scroll 0 0;}

/*.owl-next:hover, .owl-prev:hover {
    background: #1B5F93;
}*/

.leftcol-partenaire {
    height: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}

img.left_col_partenaire_img {
    height: auto;
    max-width: 100%;
}

.leftcol-partenaire .tab_title {
    display: inline-table;
    width: 100%;
    text-align: left;
    font: 600 18px/22px "Open Sans", sans-serif;
    color: #fff;
    background: #4d94cb;
    border-top: 0px;
    text-transform: uppercase;
    padding: 14px 5px 17px 20px;
    margin: 10px 0;
}

.leftcol-partenaire .owl-controls.clickable {
    position: absolute;
    bottom: -30px;
    z-index: 9999;
    text-align: center;
    width: 100%;
}
@media (max-width:768px){ 
.owl-controls.clickable{position:relative;}
}